<template name="postDetails">
	{{> navbar}}
	<div class="container">		
		
		<!-- MAIN HEADER DETAILS BOX -->
		<div class="page-header">
			   <p style="font-size:14pt"><h4 style="display:inline"> Event name: </h4>{{ name }} </p> 
		</div>

		<div class="col-sm-12 col-md-12 col-lg-12 secondary-box">  
			<div class="row">
				<div class="col-lg-12">
					<div>
					   <span style="display:inline; font-size:12pt; color: #444444;"> Date & Time: </span> <span style="font-size:10pt" class="align-left">{{ date }}: {{ timeStart }} - {{ timeEnd }}</span>    
					</div>				
					<div>
					   <span style="display:inline; font-size:12pt; color: #444444;"> Location: </span> <span style="font-size:10pt" class="align-left">{{ location }}</span>    
					</div>
					<div>
					   <span style="display:inline; font-size:12pt; color: #444444;"> Description: </span> <span style="font-size:10pt" class="align-left">{{ description }}</span>    
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
					Subscribe <input id="subscribedRadioButton" type="checkbox" checked="{{isSubscribed}}">
				</div>
			</div>
		</div>

		<!-- UPDATES FORM -->
		{{#if isAdmin}}
		<div class="col-sm-12 col-md-12 col-lg-12 secondary-box">
			<form id="createPostUpdateForm" class="add-post">
				<fieldset>
					<legend>
						<div class="">
							<h4 style="display:inline" class=""> Send out a notification </h4> 
							<i class="fa fa-plus-square fa-lg pull-right" data-toggle="collapse" data-target="#update-post"></i> 
						</div> 
					</legend>

					<div id="update-post" class="collapse">
						<div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
						    <input id="updateText" class="form-control" type="text" placeholder="Send an update to all your subscribers"/>
						</div>
						 <div class="submit-btn form-
						 group col-xs-2 col-sm-2 col-md-2 col-lg-2">
		                      <input type="submit" class="submit btn btn-sm btn-primary" value="Send Update">
		                 </div>
					</div>

				</fieldset>
			</form>
		</div>

		{{/if}}

		<!-- COMMENTS -->
		<div class="col-sm-12 col-md-12 col-lg-12 secondary-box">  
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				   <h4>Comments</h4> 
				   <hr>
				</div>

				<!-- LIST OF COMMENTS -->
				<div class="row container">
					<div class="col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-10">
						{{> comments }}
					</div>
				</div>

				<!-- ADD COMMENT FORM -->
				<div class="row container">
					<form id="addCommentForm" class="add-comment">
						<div class="col-xs-offset-4 col-xs-6 col-sm-offset-4 col-sm-6 col-md-offset-4 col-md-6 col-lg-offset-4 col-lg-6">
						    <input id="addComment" class="form-control" type="text" placeholder="Add a comment..."/>
						</div>
						 <div class="submit-btn form-
						 group col-xs-2 col-sm-2 col-md-2 col-lg-2">
		                      <input type="submit" class="submit btn btn-sm btn-primary" value="Add Comment">
		                 </div>
					</form>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
				{{#if isAdmin}}
				  <button class="delete btn btn-sm btn-danger" style="margin: 50px 0px">Delete Post</button>   
				{{ /if }}
			</div>
		</div>


	</div>
	
</template>