<template name="navbar">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	   
	   <!-- LEFT -->
	   <div class="navbar-header">
          <a class="navbar-brand" href="/"> 
          	<img id="navbar-nextwave-logo" width='40px' height='40px' src="/logo_logo.png"> 
          </a>
          <a class="navbar-brand" href="/">nextWave</a>
       </div>

	   <!-- RIGHT -->
		<ul class="nav navbar-nav navbar-right">
	        
	        <!-- NOTIFICATIONS -->
	        <li id="" class="dropdown close">
	            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	            	<i style="font-size: 1.0em;" class="fa fa-list-alt"></i> 
	            	<span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu" role="menu">

	              {{#each navbarNotifications}}
		              <li class="notificationNavbarItem"> 
		              	<a href="/post/{{_id}}">{{this.post}} - {{this.text}} </a>
		              </li>
	              {{/each}}
	              <li><a href="{{pathFor route='notifications'}}">All Notifications</a></li>
	            </ul>
	         </li>
	      
	         <!-- USER -->
	         <li class="dropdown close">
	            <a id="navbar-btn-accounts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	            	<i style="font-size: 1.0em;" class="fa fa-user"></i>
	            	<span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu" role="menu">
	              <!-- <li id=""> <a href="{{pathFor route='subscribedPosts'}}"> Subscribed Posts </a> </li> -->
	              <li id="loginButtonLi"> 
	              	<a >Login</a>
	              	<!-- {{#if currentUser}}
		              	{{> loginButtons}} 
	              	{{/if}} -->
	              </li>
	            </ul>
	         </li>
	    </ul>

	  </div>
	</nav>
</template>