/* For bootstrap fixed navbar*/
body {
 padding-top: 70px; 
}

#navbar-nextwave-logo{
	margin: -10px 0px 0px 0px;
}
.primary-box {
	border: 2px solid #69B0F0;
	padding: 2rem; 
}
.secondary-box {
	border: 2px solid #f1f1f1;
	padding: 2rem; 
	margin: 10px 0px;
}
.submit-btn {
	padding-top: 1rem;
}
.post-block{
	padding: 10px 10px ;
}