<template name="posts">
	{{#each posts}}
		{{> post }}
	{{/each}}
</template>

<template name="post">   
	<div class="col-sm-12 col-md-12 col-lg-12 secondary-box">  
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			   <p style="font-size:14pt"><h4 style="display:inline"> Event name: </h4>{{ name }} </p> 
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				 {{#if isAdmin}}
					  <button class=" delete btn btn-sm btn-danger" style="float:right">&times;</button>   
				  {{ /if }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div>
				   <span style="display:inline; font-size:12pt; color: #444444;"> Date & Time: </span> <span style="font-size:10pt" class="align-left">{{ date }}: {{ timeStart }} - {{ timeEnd }}</span>    
				</div>				
				<div>
				   <span style="display:inline; font-size:12pt; color: #444444;"> Location: </span> <span style="font-size:10pt" class="align-left">{{ location }}</span>    
				</div>
				<div>
				   <span style="display:inline; font-size:12pt; color: #444444;"> Description: </span> <span style="font-size:10pt" class="align-left">{{ description }}</span>    
				</div>
			</div>
		</div>
		<div class="row container">
			<div class="col-xs-offset-8 col-sm-offset-9 col-md-offset-10 col-lg-offset-10">
				<button class="view-details btn btn-sm btn-primary"> View Details </button>
			</div>
		</div>
	</div>
 </template>
